:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}
body {
  font-family: 'roboto', sans-serief;
  color: var(--main-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-logo {
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  font-family: 'Raleway';
  letter-spacing: 0.03em;
}
.half-logo {
  color: #2196f3;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: white;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.nav-link {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  background-color: #ffffff;
}
.current {
  color: var(--accent-color);
}
.link-header {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.hero-section {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus,
 {
  color: #ffffff;
  background-color: #188ce8;
}

.btn {
  cursor: pointer;
  font-family: inherit;
}
/* .advantages {
  background-color: ;
} */
.title-advantages {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.alt-advantages {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.alt-team {
  color: gray;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.what-are-we-doing {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
}
/* .work-examples {

} */
.team-section {
  background-color: #f5f4fa;
}
.team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team-title {
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team-alt {
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team-card {
  background-color: #ffffff;
}
.footer {
  background-color: #2f303a;
}
.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.link-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.link-footer:hover,
.link-focus:focus {
  color: var(--accent-color);
  background-color: #2f303a;
}
.address:hover,
.address:focus {
  color: var(--accent-color);
  background-color: #2f303a;
}
.portfolio-menu {
  color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    

}
.portfolio-menu:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  
}
.portfolio-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-alt {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: #ffffff;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  font-family: 'Raleway';
  letter-spacing: 0.03em;
/* добавить letter-spacing: 0.03em;!!!! */
